:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 96px 0;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--primary-brand);
}

.header-nav-link,
.header-contact-link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding: 120px 0;
  }
}
